<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
  	<title>Rave Silent.ly</title>
    <!-- Bootstrap core CSS -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet">
    <!-- main css -->
     <link href="../assets/stylesheets/main.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="../assets/css/font-awesome.min.css" rel="stylesheet">
    <script src="../bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
        <script src="../assets/javascripts/about.js"></script>
  </head>
  <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html">Rave Silent.ly</a>
        </div>
        <div class="navbar-collapse collapse navbar-right">
          <ul class="nav navbar-nav">
            <li><a href="/">HOME</a></li>
            <li><a href="about.html">ABOUT</a></li>
            

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>



  <!-- *****************************************************************************************************************
    CONTENT
   ***************************************************************************************************************** -->

   <div class="container mtb">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 centered">
        <h2>About Rave.ly</h2>
        <br>
        <em>This is an app built for friends who want 
        to rave together. Currently, there aren't that 
        many features! A list of them and future features will be at the bottom of this page and on our Github readme file. You can view the code for the project <a href="">here</a> </em>
        <br>
        <br>
        <div class="prettyline"></div>
      </div>

        <div class="col-lg-8 col-lg-offset-2 left">
        <h4>What are Rave Squares?</h4>
        <br>
        <em>A Rave square is a small square with some 
        CSS and Javascript info. That's all! Oh, and details? Well...</em>
        <br> <br>
        <div id="postHere"></div>
        <br> <br>
        <em>"Ok, cool," you're saying, "but what the heck is going on behind the scenes!?"</em>
        <br> <br>
        <em>When this page loads, it calls a javascript function that attaches an element with height and width, but no color. A timer alternates betwen a random color for that square.

        When you assemble a bunch of these squares into a table, it looks like you've created your very own rave. Woo hoo!</em>
        <div class="prettyline"></div>
      </div>
      <div class="col-lg-8 col-lg-offset-2 left">
        <p>some stuff</p>
      </div>
    <div class="prettyline"></div>
    </div>
   </div><! --/container -->
   


   

  <!-- *****************************************************************************************************************
   FOOTER
   ***************************************************************************************************************** -->
   <div id="footerwrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>About</h4>
          <div class="hline-w"></div>
          <p>This is a pretty cool app. Rave 
          on brothers and sisters </p>
        </div>
        <div class="col-lg-4">
          <h4>Social Links</h4>
          <div class="hline-w"></div>
          <p>
            <a href="#"><i class="fa fa-dribbble"></i></a>
            <a href="#"><i class="fa fa-facebook"></i></a>
            <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-instagram"></i></a>
            <a href="#"><i class="fa fa-tumblr"></i></a>
          </p>
        </div>
        <div class="col-lg-4">
          <h4>Our Bunker</h4>
          <div class="hline-w"></div>
          <p>
            225 Bush Street,<br/>
            94117 San Francisco, CA<br/>
            United States.<br/>
          </p>
        </div>
      
      </div><! --/row -->
    </div><! --/container -->
   </div><! --/footerwrap -->
   
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/retina-1.1.0.js"></script>
  <script src="../assets/js/jquery.hoverdir.js"></script>
  <script src="../assets/js/jquery.hoverex.min.js"></script>
  <script src="../assets/js/jquery.prettyPhoto.js"></script>
    <script src="../assets/js/jquery.isotope.min.js"></script>
    <script src="../assets/js/custom.js"></script>



  </body>
</html>
